{{define "header"}}
Add new blog
{{end}}

{{define "content"}}
<div style="padding: 20px; background-color: white;">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <div class="container">
        <form >
      
          <label for="fname">Title</label>
          <input type="text" id="fname" name="title" placeholder="Title..">
      
          <label for="subject">Content</label>
          <div id="editor" style="background-color: white;">
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br /></p>
          </div>
          
      
          <input type="submit" value="Publish">
      
        </form>
      </div>

      <script>
        const quill = new Quill('#editor', {
          theme: 'snow'
        });
      </script>
</div>
{{end}}