{{define "header"}}
My blog
{{end}}

{{define "content"}}
<div style="margin-top: 20px;"><a href="/admin/add" class="btn success" style="width: 100%; text-decoration: none;"><i class="fa fa-plus"></i> Add new blog</a>
</div>
<div class="row">
    <div >
      <div class="card">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <h2>TITLE HEADING</h2>
          <div style="display: flex; column-gap: 8px;">
            <button class="btn success" style="width: 100%;"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn danger" style="width: 100%;"><i class="fa fa-trash"></i> Delete</button>
          </div>
        </div>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div>
{{end}}