{{define "main"}}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Length')">Length</button>
    <button class="tablinks" onclick="openTab(event, 'Weight')">Weight</button>
    <button class="tablinks" onclick="openTab(event, 'Temperature')">Temperature</button>
  </div>
  
  <div id="Length" class="tabcontent">
    <form action="/converter/length" method="post">
        <label for="inputValue">Enter the length to convert</label>
        <input type="text" id="inputValue" name="inputValue" required>
      
        <label for="fromUnit">Unit to convert from</label>
        <select id="fromUnit" name="fromUnit">
            <option value="mm">millimeter</option>
            <option value="cm">centimeter</option>
            <option value="dm">decimeter</option>
            <option value="m">meter</option>
            <option value="km">kilometer</option>
            <option value="in">inch</option>
            <option value="ft">foot</option>
            <option value="yds">yard</option>
            <option value="mi">mile</option>
      
          </select>
      
        <label for="toUnit">Unit to convert to</label>
        <select id="toUnit" name="toUnit">
          <option value="mm">millimeter</option>
          <option value="cm">centimeter</option>
          <option value="dm">decimeter</option>
          <option value="m">meter</option>
          <option value="km">kilometer</option>
          <option value="in">inch</option>
          <option value="ft">foot</option>
          <option value="yds">yard</option>
          <option value="mi">mile</option>
    
        </select>
        <input type="submit" value="Submit">
      </form>
  </div>
  
  <div id="Weight" class="tabcontent">
    <form action="/converter/weight" method="post">
        <label for="inputValue">Enter the weight to convert</label>
        <input type="text" id="inputValue" name="inputValue" required>
      
        <label for="fromUnit">Unit to convert from</label>
        <select id="fromUnit" name="fromUnit">
            <option value="mg">milligram</option>
            <option value="g">gram</option>
            <option value="kg">kilogram</option>
            <option value="oz">ounce</option>
            <option value="lb">pound</option>
          </select>
      
        <label for="toUnit">Unit to convert to</label>
        <select id="toUnit" name="toUnit">
          <option value="mg">milligram</option>
          <option value="g">gram</option>
          <option value="kg">kilogram</option>
          <option value="oz">ounce</option>
          <option value="lb">pound</option>
        </select>
        <input type="submit" value="Submit">
      </form>
  </div>
  
  <div id="Temperature" class="tabcontent">
    <form action="/converter/temperature" method="post">
        <label for="inputValue">Enter the temperature to convert</label>
        <input type="text" id="inputValue" name="inputValue" required>
      
        <label for="fromUnit">Unit to convert from</label>
        <select id="fromUnit" name="fromUnit">
            <option value="c">celsius</option>
            <option value="f">fahrenheit</option>
            <option value="k">kelvin</option>
          </select>
      
        <label for="toUnit">Unit to convert to</label>
        <select id="toUnit" name="toUnit">
          <option value="c">celsius</option>
          <option value="f">fahrenheit</option>
          <option value="k">kelvin</option>
        </select>
        <input type="submit" value="Submit">
      </form>
  </div>

  {{end}}
  