{{define "base"}}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />


<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/input.css">

</head>
<body>

<div class="content">
    <div class="header">
      <h2>{{template "header"}}</h2>
    </div>
    {{template "content" .}}
</div>

</body>
</html>

{{end}}